@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-background: var(--light-background);

    --dark-background-old: 18 18 18; //old ig color
    --dark-background: 0 0 0;
    --light-background: 255 255 255;
  }

  a,
  input,
  button,
  textarea {
    --webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply hover-animation bg-main-background font-roboto text-light-primary dark:text-dark-primary;
  }

  @layer components {
    .hover-animation {
      @apply transition-colors duration-200;
    }
  }
}


.loading {
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}